/* Generelt start */

/*
html {
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
}
*/

main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
}

figure {
  margin: 0.5rem 0rem 0rem 0rem;
}

/*h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin: 0rem 0rem 1.5rem 0rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  margin: 0rem 0rem 1.5rem 0rem;
}

a {
  font-size: 1.5rem;
}*/

/* Generelt end */

/* Layout start */

main > section {
  grid-column: 2/3;
  /*margin-bottom: 0.5rem;*/
}

/*section {
  padding: 0.5rem;
  margin: 0.5rem;
}*/

#section_one {
  grid-column: 1/4;
  margin: 0;
  padding: 0;
}

/* Layout som virker men ikke optimalt start */

#section_two,
#section_three,
#section_four:not(#section_one) {
  background: var(--color7);
  /*border-radius: 0.5rem;*/
}

#section_two,
#section_three,
#section_four:not(#section_one) {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
}

#section_four .section_wrapper p,
#section_four .section_wrapper h2,
#section_three .section_wrapper p,
#section_three .section_wrapper h2,
#section_two .section_wrapper p,
#section_two .section_wrapper h2 {
  margin-bottom: 2.5vw;
}

main > section {
  grid-column: 1/4;
}

section > article:not(#section_one .section_wrapper) {
  grid-column: 2/3;
  margin-bottom: 4rem;
}

section {
  padding: 0rem 1rem 0rem 1rem;
  /*margin: 0rem 0.5rem 0rem 0.5rem;*/
}

#section_two {
  padding-top: 4rem;
}

/* Layout som virker men ikke optimalt end */

/* Layout end */

/* Mobil start */

/*#section_one {
  background-size: cover;
  background-position: 77% 10%;
}*/

#section_one .section_wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#section_one video {
  opacity: 70%;
  position: fixed;
  z-index: -1000;

  grid-column: 1/7;
  grid-row: 1/6;
}

#section_one h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/7;
  grid-row: 1/1;
  margin: 0rem;
}

#section_one .shopknap {
  grid-column: 4/7;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section_one .videoknap {
  grid-column: 3/5;
  grid-row: 4/6;
  display: flex;
  align-items: end;
  justify-content: center;
}

#section_one p {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/7;
  grid-row: 5/6;
  text-align: center;
}

#section_one a {
  display: flex;
  flex-direction: column;
}

#section_one img {
  width: 1rem;
  height: 1rem;
  align-self: center;
}

#section_one img:hover {
  color: var(--color7);
}

#section_one button {
  background: none;
  margin-bottom: 0.5rem;
  padding: 0.2rem;

  border: none;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

#section_one button a {
  color: var(--color3);
}

#section_one button p {
  color: var(--color3);
  font-family: "Roboto Mono", monospace;
  margin: 0rem;
}

#section_one button p:hover {
  color: var(--color7);
}

#section_two video {
  width: 100%;
}

#section_two .col_right {
  display: flex;
  justify-content: center;
}

#section_three .section_wrapper .col {
  display: flex;
}

#section_three figure {
  margin: 0.2rem 0.2rem 0.2rem 0.2rem;
}

#section_four .col {
  display: flex;
  overflow-y: hidden;
}

#section_four .col blockquote {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (min-width: 500px) {
  #section_one h2 {
    grid-column: 1/7;
    grid-row: 1/1;
  }

  #section_one .shopknap {
    grid-column: 4/6;
    grid-row: 4/5;
  }

  #section_one .videoknap {
    grid-column: 3/5;
    grid-row: 5/5;
  }

  #section_one p {
    grid-column: 1/7;
    grid-row: 5/6;
  }

  #section_two video {
    width: 70%;
  }

  /*#section_two .section_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #section_two video {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  }*/
}

@media (min-width: 700px) {
  #section_four .col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Mobil end */

/* Desktop start */

/* splashvideo start */
@media (min-aspect-ratio: 16/9) {
  #section_one video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #section_one video {
    width: auto;
    height: 100%;
  }
}

/* Video bliver ikke vist på mobil, forbesparelse af data forbrug mm*/
/*@media (max-width: 767px) {
  #section_one {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("http://designbymagnus.dk/kea/05_indhold/redsign/indhold/splashvideo_poster.PNG");
    background-size: cover;
  }

  #section_one video {
    display: none;
  }
}*/

@media (min-width: 917px) {
  #section_one button p {
    font-size: 1.3rem;
    white-space: nowrap;
  }
}

/* splashvideo end */

@media (min-width: 950px) {
  /*#section_two .section_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  #section_two video {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  }*/

  #section_three .section_wrapper {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
}

/* Desktop end */
