* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  --color1: #b18960;
  --color2: #6b5137;
  --color3: #000000;
  --color4: #a6a6a6;
  --color5: #d6c6ac;
  --color6: #737373;
  --color7: #ffffff;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  margin: 0rem;
}

body {
  font-size: 16px;
  margin: 0rem;
  background-color: var(--color7);
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 1.5;
}

/*main {
  display: grid;
  grid-template-columns: 1fr minmax(0, 1000px) 1fr;
}

main > section {
  grid-column: 2/3;
}*/

h1 {
  font-family: "Roboto Mono", monospace;
  /*font-size: 3vw;*/
  text-align: center;
  color: var(--color3);
}

h2 {
  font-family: "Roboto Mono", monospace;
  /*font-size: 4vw;*/
  text-align: center;
  color: var(--color3);
  margin-bottom: 1.5rem;
}

h3 {
  font-family: "Roboto Mono", monospace;
  /*font-size: 2vw;*/
  color: var(--color3);
}

h4 {
  font-family: "Roboto Mono", monospace;
  /*font-size: 1.5vw;*/
  font-weight: lighter;
  color: var(--color3);
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  /*font-size: 1.1vw;*/
  font-size: 0.6rem;
  color: var(--color3);
  line-height: 1.5;
}

a {
  font-family: "Roboto Mono", monospace;
  /*font-size: 0.9rem;*/
  text-decoration: none;
  cursor: pointer;
  color: var(--color7);
  border: none;
}

/*h2 {

  font-size: clamp(1rem, 0.0909rem + 4.5455vw, 3.5rem);
}

p {
  font-size: clamp(1rem, 0.625rem + 1.6667vw, 1.5rem);
}

a {
  font-size: clamp(0.5rem, 0.125rem + 1.6667vw, 1rem);

}*/

@media (min-width: 700px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  p {
    /*font-size: 1rem;*/
    font-size: 0.7rem;
    font-size: 0.8rem;
  }

  a {
    font-size: 1.5rem;
  }
}

#knap {
  background: var(--color3);
  color: var(--color7);
  /*padding: 0.1vw 2vw;*/
  padding: 0.1rem 0.5rem;
  /*padding: 1.5% 4%;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.2rem;
  /*margin-bottom: 2vw;*/
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

/*#knap {
  display: flex;
  justify-content: center;
  width: 20%;
}*/

#knap:hover {
  background: var(--color4);
  color: var(--color3);
}

#knap p {
  color: var(--color7);
}

a {
  /*font-size: 1.5vw;*/
  font-size: 1rem;
}

/*Footer*/

/* Menu start */

header {
  position: sticky;
  top: 0;
  z-index: 100;

  /* En del af: Skjult menu ved scroll */
  width: 100%;
  transition: top 0.3s;

  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: var(--color3);
  align-items: center;
  flex-wrap: wrap;
}

/*.logo {
  width: 80px;
  height: 80px;
  display: block;
}*/

.logo img {
  width: 70px;
  min-width: 40px;
  max-width: 100%;
  height: auto;
}

header nav {
  display: contents;
}

header a {
  display: inline-block;
  width: 100%;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  margin: 0.1rem;
}

nav #menu {
  gap: 1rem;
  margin: 0;
  padding: 0.5rem;
  transform: none;
  list-style: none;

  border-top: 1px solid var(--color7);

  margin-top: 0.5rem;
  flex-basis: 100%;
}

#menuknap {
  font-family: "Open Sans", sans-serif;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.2rem;

  margin: 0rem;
  padding: 0.3rem;
  background: var(--color3);
  color: var(--color7);
  border: 0.1rem solid var(--color7);
}

#menuknap:hover {
  background: var(--color7);
  color: var(--color3);
  border: 0.15rem solid var(--color3);
}

#menu li a:hover {
  background: var(--color7);
  color: var(--color3);
  border-radius: 0.2rem;
}

#menu li {
  white-space: nowrap;
}

.hidden {
  display: none;
  /*transition: 0.3s ease;*/
}

/* Menu end */

/*Footer start */
#right img {
  /*width: 10vw;*/
  width: 18px;
}

#left img {
  /*width: 7vw;*/
  width: 20px;
}

footer {
  background: var(--color3);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  text-align: center;
  /*padding-left: 7vw;
  padding-right: 7vw;
  padding-bottom: 1rem;
  padding-top: 1rem;*/
  padding: 2rem 0.5rem 2rem 0.5rem;
}

footer section {
  padding: 0rem;
}

footer p {
  color: white;
  margin: 0rem;
}

#right,
#left {
  display: flex;
  gap: 1.2rem;
}

#right {
  justify-content: start;
}

#left {
  justify-content: flex-end;
}

#visa {
  padding-top: 1vw;
}

/*#middle {
  padding-top: 1vw;
  padding-bottom: 1vw;
}*/

/*Footer end*/

@media (min-width: 500px) {
  footer {
    padding-left: 3rem;
    padding-right: 3rem;
    /*padding: 2rem 3rem 2rem 3rem;*/
  }

  #right img {
    /*width: 5vw;*/
    width: 35px;
  }

  #left img {
    /*width: 10vw;*/
    width: 30px;
  }

  #visa {
    /*padding-top: 0.5vw;*/
    padding-top: 0.3rem;
  }
}

/*@media (min-width: 500px) {
  p {
    font-size: 1.1vw;
  }

  h3 {
    
    font-size: 3vw;
  }

  h2 {
    
    font-size: 3vw;
  }
}*/

@media (min-width: 700px) {
  nav {
    display: flex;
  }

  nav #menu {
    flex-basis: 0;
  }

  header ul {
    display: flex;
  }

  #menuknap {
    display: none;
  }

  .hidden {
    display: flex;
  }
}

@media (min-width: 996px) {
  .logo img {
    width: 100px;
  }

  header a {
    margin: 0.2rem 1rem 0.2rem 1rem;
  }

  nav #menu {
    padding-right: 1rem;
  }
}

@media (min-width: 1000px) {
  footer {
    /*padding-left: 12vw;
    padding-right: 12vw;*/
    padding-left: 12rem;
    padding-right: 12rem;
  }

  #right img {
    /*width: 2vw;*/
    width: 40px;
  }

  #left img {
    /*width: 4vw;*/
    width: 50px;
  }

  #visa {
    /*padding-top: 0.5vw;*/
    padding-top: 0.4rem;
  }
}
