
button{
    background-color: black;
     border: none;
     color: white;
     text-align: center;
     padding: 2vw;
   }

   h2 {
       text-align: center;
   }

   .sr-only {
    display: block;
}
   /* .input_group {
    display: block;
     } */

     iframe {
         background-size: cover;
     }

   @media (max-width: 600px) {
    #first_section .section_wrapper {
        text-align: center;
    }
    #first_section p {
        margin: 3vw;
    }
       #second_section {
           display: grid;
       }
       
       #second_section .col_right {
           grid-row: 1;   
       }
       #second_section .col_left {
           grid-row: 2;
       }
    iframe {
        width: 95vw; 
        margin: 2vw;
    }
       
}
   @media (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 1fr minmax(0, 1200px) 1fr;
    }
    main > section {
        display: grid;
        grid-column: 2/3;
        }
    #first_section .section_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #first_section .col_left {
        margin: 3vw;
    }
    #first_section .col_right {
        margin: 3vw;
    }
    #second_section .section_wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #second_section .col_left {
        margin: 3vw;
    }
   }




   extarea {
    display: block;
    width: 100%;
    min-width: 0;
    height: 42px;
    padding: 8px 12px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-appearance: none;
}
