* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#screen {
  width: 100%;
  height: 56.25vw;
  overflow: hidden;
}

#start {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(landing_page.svg);
}

#level_complete {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(winning_page.svg);
}

#retry_knap {
  width: 25vw;
  height: 8vw;
  position: absolute;
  top: 42vw;
  left: 68vw;
  background-color: #e6e6e6;
  border-radius: 7.5vw;
  font-family: acumin-pro, sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  border: none;
  color: black;
  padding: 0.2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5vw;
  margin: 0.59vw 0.29vw;
  cursor: pointer;
  align-content: center;
  display: block;
  box-shadow: gray 0.2vw 0.2vw 0, gray 0.2vw 0.2vw 0, gray 0.3vw 0.3vw 0,
    gray 0.4vw 0.4vw 0, gray 0.5vw 0.5vw 0, gray 0.6vw 0.6vw 0,
    gray 0.7vw 0.7vw 0, gray 0.8vw 0.8vw 0;
}

#retry2_knap {
  width: 25vw;
  height: 8vw;
  position: absolute;
  top: 42vw;
  left: 68vw;
  background-color: #e6e6e6;
  border-radius: 7.5vw;
  font-family: acumin-pro, sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  border: none;
  color: black;
  padding: 0.29vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5vw;
  margin: 0.59vw 0.2vw;
  cursor: pointer;
  align-content: center;
  display: block;
  box-shadow: gray 0.2vw 0.2vw 0, gray 0.2vw 0.2vw 0, gray 0.3vw 0.3vw 0,
    gray 0.4vw 0.4vw 0, gray 0.5vw 0.5vw 0, gray 0.6vw 0.6vw 0,
    gray 0.7vw 0.7vw 0, gray 0.8vw 0.8vw 0;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

#game_over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(losing_page.svg);
}

#game {
  width: 100%;
  height: 100%;
  position: relative;
}

#game_background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(background.svg);
}

#game_elements {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#start_knap {
  width: 25vw;
  height: 8vw;
  position: absolute;
  top: 35vw;
  left: 72vw;
  background-color: #e6e6e6;
  border-radius: 7vw;
  font-family: acumin-pro, sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5vw;
  cursor: pointer;
  align-content: center;
  display: block;
  box-shadow: gray 0.2vw 0.2vw 0, gray 0.2vw 0.2vw 0, gray 0.3vw 0.3vw 0,
    gray 0.4vw 0.4vw 0, gray 0.5vw 0.5vw 0, gray 0.6vw 0.6vw 0,
    gray 0.7vw 0.7vw 0, gray 0.8vw 0.8vw 0;
}

.box {
  width: 20vw;
  height: 20vw;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 3vw;
  border: 0.3vw solid #fff;
  border-radius: 3vw/7.5vw;
  background-clip: padding-box;
  text-align: center;
  text-decoration: none;
}

.button {
  font-size: 5vw;
  padding: 1.5vw;
  color: #fff;
  border-radius: 3vw/7.5vw;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button:hover {
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 5vw auto;
  padding: 2vw;
  background: #e6e6e6;
  border-radius: 7.5vw;
  width: 45vw;
  position: relative;
  transition: all 5s ease-in-out;
  display: block;
  box-shadow: gray 0.2vw 0.2vw 0, gray 0.2vw 0.2vw 0, gray 0.3vw 0.3vw 0,
    gray 0.4vw 0.4vw 0, gray 0.5vw 0.5vw 0, gray 0.6vw 0.6vw 0,
    gray 0.7vw 0.7vw 0, gray 0.8vw 0.8vw 0;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: acumin-pro, sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 3vw;
}

.popup .close {
  position: absolute;
  top: 3vw;
  right: 4.5vw;
  transition: all 200ms;
  font-size: 5vw;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: pink;
}

.popup .content {
  max-height: 40vw;
  overflow: auto;
  font-family: acumin-pro, sans-serif;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 100;
  padding: 1.49vw;
}

@media screen and (max-width: 104.79vw) {
  .box {
    width: 50%;
  }

  .popup {
    width: 50%;
  }
}

#start_knap:hover {
  animation: bounce 1s;
  font-weight: 100;
}

#retry_knap:hover {
  animation: bounce 1s;
  font-weight: 100;
}

#retry2_knap:hover {
  animation: bounce 1s;
  font-weight: 100;
}

#regler {
  width: 15vw;
  height: 6vw;
  position: absolute;
  top: 46.5vw;
  left: 76.5vw;
  background-color: #e6e6e6;
  border-radius: 7.5vw;
  font-family: acumin-pro, sans-serif;
  font-weight: 50;
  text-align: center;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4vw;
  margin: 0.59vw 0.29vw;
  cursor: pointer;
  align-content: center;
  display: block;
  box-shadow: gray 0.2vw 0.2vw 0, gray 0.2vw 0.2vw 0, gray 0.3vw 0.3vw 0,
    gray 0.4vw 0.4vw 0, gray 0.5vw 0.5vw 0, gray 0.6vw 0.6vw 0,
    gray 0.7vw 0.7vw 0, gray 0.8vw 0.8vw 0;
}

#regler:hover {
  animation: bounce 1s;
}

a:link {
  text-decoration: none;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-5.9vw);
    transform: translateY(-5.9vw);
  }

  80% {
    -webkit-transform: translateY(-1.49vw);
    transform: translateY(-1.49vw);
  }
}
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-2vw);
    transform: translateY(-2vw);
  }

  80% {
    -webkit-transform: translateY(-1.49vw);
    transform: translateY(-1.49vw);
  }
}

#game_ui {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#game_points {
  position: absolute;
  font-family: acumin-pro, sans-serif;
  font-weight: 100;
  color: black;
  font-size: 4vw;
  top: 14vw;
  left: 61vw;
}

#collected_hearts {
  position: absolute;
  width: 60vw;
  height: 8.4vw;
  background-size: cover;
  background-image: url(you_collected.svg);
  top: 13vw;
  left: 30vw;
}

#score_board_heart {
  position: absolute;
  bottom: 51vw;
  width: 5.5vw;
  height: 5vw;
  right: 2vw;
  opacity: 50%;
}

#score_board {
  position: absolute;
  bottom: 51.9vw;
  right: 1vw;
  font-size: 3vw;
  font-family: acumin-pro, sans-serif;
  font-weight: 100;
  color: grey;
}

#energy_board {
  position: absolute;
  bottom: 1vw;
  right: 1vw;
  display: flex;
  gap: 0.5vw;
  display: inline;
}

#energy_board img {
  width: 5vw;
}

#time_board {
  width: 7vw;
  height: 60vw;
  position: absolute;
  right: 0.2vw;
  top: 10vw;
}

#time_container {
  position: absolute;
  width: 2.5vw;
  height: 25vw;
  background-color: darkgray;
  border-radius: 7.48vw;
  right: 2vw;
}

#time_sprite {
  width: 2.5vw;
  height: 25vw;
  transform-origin: center bottom;
  background-color: pink;
  border-radius: 7.48vw;
  right: 2vw;
}

.shrink {
  animation-name: shrink_kf;
  animation-duration: 15s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes shrink_kf {
  100% {
    transform: scaleY(0);
  }
}

.gray {
  filter: grayscale(80%);
}

#heart_container1 {
  position: absolute;
}

#heart_sprite1 {
  width: 10vw;
  height: 10vw;
  background-image: url(heart.svg);
  background-size: 100%;
}

#heart_container2 {
  position: absolute;
}

#heart_sprite2 {
  width: 10vw;
  height: 10vw;
  background-image: url(heart.svg);
  background-size: 100%;
}

#broken_heart_container1 {
  position: absolute;
}

#broken_heart_sprite1 {
  width: 10vw;
  height: 10vw;
  background-image: url(broken_heart.svg);
  background-size: 100%;
}

.pos1 {
  top: -10vw;
  left: 10vw;
}

.pos2 {
  top: -10vw;
  left: 20vw;
}

.pos3 {
  top: -10vw;
  left: 30vw;
}

.pos4 {
  top: -10vw;
  left: 40vw;
}

.pos5 {
  top: -10vw;
  left: 50vw;
}

.pos6 {
  top: -10vw;
  left: 60vw;
}

.forsvind {
  animation-name: forsvind_kf;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes forsvind_kf {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.frys {
  animation-play-state: paused;
}

.flyv {
  animation-name: flyv_kf;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes flyv_kf {
  100% {
    transform: translateY(70vw);
  }
}

.forsvind_broken {
  animation-name: forsvind_broken_kf;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes forsvind_broken_kf {
  20% {
    transform: scale(2);
  }

  40% {
    transform: scale(1);
  }

  60% {
    transform: scale(2);
  }

  80% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.zoom_out {
  animation-name: zoom_out_kf;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@keyframes zoom_out_kf {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

.skjul {
  display: none;
}
