* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
}

header a:hover {
}

a {
}

a:hover {
}

h1 {
  font-family: "Roboto Mono", monospace;
}

h2 {
  font-family: "Roboto Mono", monospace;
}

h3 {
  font-family: "Roboto Mono", monospace;
  font-size: 3vw;
}

h4 {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5vw;
  font-weight: lighter;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  font-size: 2.5vw;
}

footer {
}
