main {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
}

header {
    text-align: center;
}

/* #first_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
}
#second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
} */

button{
    background-color: black;
     border: none;
     color: white;
     text-align: center;
     padding: 2vw;
   }

   h2 {
       text-align: center;
   }

   @media (max-width: 600px) {

   }

   @media (min-width: 600px) {
       
   }
